parameters:

database:
	dsn: 'mysql:host=database;dbname=nette'
	user: nette
	password: nette

nettrine.dbal:
  debug:
    panel: false
    sourcePaths: [%appDir%/Model/ORM/Entity]
  connection:
    host: database
    driver: pdo_mysql
    dbname: nette
    user: nette
    password: nette

console:
	url: https://localhost
	catchExceptions: true

mail:
	smtp: true
	host: localhost
	port: 465
	username: test@test.cz
	password: test
	secure: ssl

#rabbitmq:
#	connections:
#		default:
#			user: test
#			password: test
#			host: sandbox_rabbit
#			vhost: /
#			port: 5672
#			lazy: false