<nav class="bg-light">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" n:href="Dashboard:default">Nástěnka</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" n:href="Sign:out">Odhlásit</a>
		</li>
	</ul>
</nav>